*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(255, 255, 255);
    font-family: 'Lucida Sans', sans-serif;
}

/* header of gibson story */

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    
  }
li {
    float: left;
    border-bottom: 1px solid #ffffff;
    display: inline;
    
  }
a {
    display: block;
    padding: 8px;
    background-color: #ffffff;

  } 

li a {
    display: block;
    color: rgb(43, 150, 39);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  



img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
  }

.navbar{
    width: 35%;
    margin: auto;
    padding: 35px 0;
    align-items: center;
    display: flex;
    justify-content: space-between;

  }
.navbar ul li {
    list-style: none;
    display: inline-block;
    margin:auto;
    font-size: larger;
    color: rgb(2, 96, 13);


  }


/* 2 paragraph & title */

h4 , p {
  width: 92%;
  margin-left: 61px;
  padding: 10px;
  margin-top: 20px 0;
  text-align: center;
}
.middle {
  text-align: justify;
}
.ending {
  border-bottom: 1px solid transparent;
  text-align: justify;
}
.middle .ending {
  padding: 10px;
  margin-top: 20px 0;
  font-size: 27px;
  border: black 1px solid;

}
/* end */
.send {
  text-align: center;
  padding: 50px;
  margin: auto;
  color: #ffffff;
  background-color: rgb(255, 255, 255);
  align-items: center;
  cursor: pointer;
  transition: 0.2s;
}

footer{
  margin-left: 1200px;
}
