*{
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-decoration: none;
    box-sizing: border-box;
    list-style: none;
}

/* header of gibson story */

.header {
    border: 1px solid white;
    width: 1400px;
    margin: 2px auto;
    padding: 60px 30px;
    font-size: 1.5rem;
}
.inner-container {
    border: 1px solid;
    width: 1400px;
    margin: 0 auto;
    padding: 1px;
}
a {
    text-decoration: none;
    background-color: rgb(51, 49, 49);
    color: white;
    padding: 1.5px 55.2px;
    display: inline-block;
}
img {

    width: 92%;
    height: 600px;
    border: 1px solid black;
    margin-left: 61px;
    display: block;
}
/* 2 paragraph & title */
h4 , p {
    width: 92%;
    margin-left: 61px;
    padding: 10px;
    margin-top: 20px 0;
}
.paragraph1 {
    text-align: justify;
}
.paragraph2 {
    border-bottom: 1px solid transparent;
    text-align: justify;
}
.paragraph1 .paragraph2 {
    padding: 10px;
    margin-top: 20px 0;
    font-size: 27px;
    border: black 1px solid;
}

/* end */

footer ul li {

    display: inline-block;
    padding: 7px 45px;
    border: transparent 1px solid;
}

footer ul {
    margin-top: 20px;
    text-align: center;
}
footer ul li a {
    text-decoration: none;
    color: rgb(20, 13, 13);
}
footer{
    color: #6e6868;
}



